<div class="panel panel-primary">
  <div class="card text-center mb-4">
    <h1 class="font-bold mt-4 mb-3 h5"><i class="fa-solid fa-plane-up"></i> PNR Search </h1>
  </div>
  <div class="container">
  <form [formGroup]="searchForm" style="margin-left: 65vh;">
    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control"  placeholder="Enter PNR Number" formControlName="pnr" />
      </div>
      <div class="col-3">
        <button class="btn btn-success"  (click)="getAllBookings()"><span>Search</span></button>
      </div>
    </div>
  </form>
</div>

  <div class="panel-body" >
    <table class="table table-striped">
      <thead style="text-align: center;">
        <tr>
          <th>PNR Number</th>
          <th>Booked Date</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Journey Date</th>
          <th>Cost</th>
          <th>Status</th>
          <!-- <th>ContactAddress</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="booking_details.length===0">
          <td colspan="8" style="text-align:center; color: red; font-weight: bold;"> No Records to Display</td>
        </tr>
        <tr *ngFor="let booking of booking_details" style="text-align: center;" >
          <td> {{booking.pnr}}</td>
          <td>
            <span class="time">{{booking.createdDate | date: 'shortTime'}}</span><br>
            <span class="date">{{booking.createdDate | date: 'MMM d yyyy'}}</span>
          </td>
          <td>{{booking.source}}</td>
          <td>{{booking.destination}}</td>
          <td>
            <span class="time">{{booking.departureDate | date: 'shortTime'}}</span><br>
            <span class="date">{{booking.departureDate| date: 'MMM d yyyy'}}</span>
          </td>
          <td>
            {{booking.finalticketCost | currency:'INR'}}
          </td>
          <td  >
            <span class="badge badge-pill badge-success"  [ngStyle]="{'background-color': (booking.isActive==='Y' ) ?
            '#81CB21'  :'#DC3D1D'}">
            {{booking.isActive==='Y' ?'Booked':'Cancelled'}}
          </span>
            </td>
            <td>

              <button class="btn btn-info" style="margin-left: 10px" *ngIf="booking.isActive==='Y'"
              [routerLink]="['/listpassengers',booking.bookingId]"><i class="fa-solid fa-magnifying-glass"></i></button>

            </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
